# IRC Server Credentials
# Format: SERVERID_SASL_USER and SERVERID_SASL_PASS
# SERVERID must match [servers.SERVERID] key in config.toml (UPPERCASED)
# IRCNET_SASL_USER=myuser
# IRCNET_SASL_PASS=mypassword
